@media (prefers-color-scheme: light) {
  :root {
    background-color: #2F2722;
  }
}



@font-face {
    font-family: 'terra';
    font-style: normal;
    src: url(./assets/fonts/terra/TerraFontNewVer-Regular.woff2), format('woff2');
}

@font-face {
    font-family: 'charter';
    font-style: normal;
    src: url(./assets/fonts/charter/charter_regular-webfont.woff) format('woff');
}