@media (prefers-color-scheme: light) {
  :root {
    background-color: #AC9682;
    background-repeat: no-repeat;
    background-image: url(./assets/img/logo_white.png);
    background-position: right bottom;
    background-size: 33%;
    background-position-x: right 72px;
    background-position: absolute;
  }
}



@font-face {
    font-family: 'terra';
    font-style: normal;
    src: url(./assets/fonts/terra/TerraFontNewVer-Regular.woff2), format('woff2');
}

@font-face {
    font-family: 'charter';
    font-style: normal;
    src: url(./assets/fonts/charter/charter_regular-webfont.woff) format('woff');
}